.x11-reqeuest-posted {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  position: relative;
}

.group-8831 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 176px;
}

.title {
  letter-spacing: 0;
  line-height: 36px;
  margin-right: 0%;
  margin-top: 0%;
  min-height: 36px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.center2 {
  vertical-align: middle;
  margin-right: 80px;
}
.center1 {
  vertical-align: middle;
  margin-left: -90px;
}

.logo-1 {
  height: 181px;
  margin-right: 3px;
  margin-top: 10px;
  align-items: center;
}

.group-16 {
  position: absolute;
  width: 50%;
  margin-bottom: 7%;
  margin-right: 6%;
}

.overlap-group {
  align-items: center;
  background-color: var(--blue-jeans);
  border-radius: 8px;
  display: flex;
  height: 52px;
  justify-content: flex-end;
  min-width: 315px;
  padding: 0 136px;
}

.login {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 42px;
  text-align: center;
  white-space: nowrap;
}
