.background {
  position: relative;
  width: 470px;
  height: 836px;
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 5px solid #7b8698;
}
.thepositions {
  position: absolute;
  left: 8.3%;
  right: 8.3%;
  top: 14.89%;
  bottom: 75%;
}
.rectangle-1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #7b8698;
}
.homey {
  position: absolute;
  left: 24.26%;
  right: 23.4%;
  top: 3.71%;
  bottom: 90.79%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 29.5652px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.221739px;

  color: #ffffff;
}

.rectangle-5 {
  position: absolute;
  left: 8.3%;
  right: 8.3%;
  top: 10.89%;
  bottom: 16.28%;

  background: #ffffff;
  border-radius: 20px;
}
.rectangle-6 {
  position: absolute;
  left: 12.3%;
  right: 12.3%;
  top: 5.89%;
  bottom: 22.28%;
}
.profile {
  position: absolute;
  left: 84.95%;
  right: 4.4%;
  top: 2.94%;
  bottom: 91.07%;
}
.text-1 {
  position: absolute;
  left: 13.15%;
  right: 13.44%;
  top: 18.3%;
  bottom: 72.2%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;

  color: #000000;
}
.text-2 {
  position: absolute;
  left: 10.21%;
  right: 10.14%;
  top: 31.82%;
  bottom: 53.94%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;

  color: #7e7b7b;
}
.colorkey {
  position: absolute;
  left: 10.21%;
  right: 20.21%;
  top: 56.89%;
  bottom: 10.32%;
}
.text-3 {
  position: absolute;
  left: 15.74%;
  right: 13.4%;
  top: 78.83%;
  bottom: 16.87%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;
  text-decoration-line: underline;

  color: #ffffff;
}
.thebox111 {
  position: absolute;
  left: 0%;
  right: 50.21%;
  top: 86.84%;
  bottom: 0%;

  background: #f04e4e;
  border: 10px solid #7b8698;
  border-radius: 20px;
}
.thebox211 {
  position: absolute;
  left: 49.79%;
  right: 0%;
  top: 86.84%;
  bottom: 0%;

  background: #4ef072;
  border: 10px solid #7b8698;
  border-radius: 20px;
}
.thebox31 {
  position: absolute;
  left: 66.67%;
  right: 0%;
  top: 86.87%;
  bottom: 0%;

  background: #ffffff;
  border: 10px solid #7b8698;
  border-radius: 20px;
}

.text-4 {
  position: absolute;
  left: -0.21%;
  right: 1%;
  top: 76.29%;
  bottom: 0.72%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16.3404px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.122553px;

  color: #000000;
}

.logos111 {
  display: flex;
  margin-left: 40%;

  padding: 5px;
}
.logos222 {
  display: flex;
  margin-left: 40%;

  padding: 5px;
}
.logos2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
