.group {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 38px;
  margin-right: 16px;
  margin-top: 48px;
  min-width: 40px;
}

.overlap-group1 {
  align-items: flex-end;
  background-color: var(--blue-jeans-2);
  border-radius: 7px;
  display: flex;
  height: 35px;
  min-width: 40px;
  padding: 2.8px 4px;
}

.vetering-1-6 {
  height: 28px;
  object-fit: cover;
  width: 32px;
}

.vector {
  align-self: flex-end;
  height: 5px;
  margin-bottom: 0;
  margin-left: 279px;
  width: 40px;
}

.group.group-1 {
  align-self: unset;
  margin-left: 95px;
  margin-right: unset;
  margin-top: unset;
}

.group.group-3 {
  align-self: unset;
  margin-left: 93px;
  margin-right: unset;
  margin-top: unset;
}

.group.group-4 {
  align-self: unset;
  margin-left: 76px;
  margin-right: unset;
  margin-top: unset;
}

