.background {
  position: relative;
  width: 470px;
  height: 836px;
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 5px solid #7b8698;
}
.rectangle-1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #7b8698;
}
.home {
  position: absolute;
  left: 38.09%;
  right: 38.3%;
  top: 3.95%;
  bottom: 90.58%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 29.5652px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.221739px;

  color: #ffffff;
}
.rectangle-11 {
  box-sizing: border-box;

  position: absolute;
  left: 8.3%;
  right: 8.3%;
  top: 10.89%;
  bottom: 80.02%;

  background: #ffffff;
  border: 5px solid #2c315e;
}
.rectangle-12 {
  position: absolute;
  left: 8.3%;
  right: 8.3%;
  top: 19.98%;
  bottom: 19.5%;

  background: #ffffff;
  border-radius: 20px;
}

.rectangle-5 {
  position: absolute;
  left: 8.3%;
  right: 8.3%;
  top: 10.89%;
  bottom: 24.28%;

  background: #ffffff;
  border-radius: 20px;
}
.profile {
  position: absolute;
  left: 84.95%;
  right: 4.4%;
  top: 2.94%;
  bottom: 91.07%;
}
.text-1 {
  position: absolute;
  left: 13.15%;
  right: 13.44%;
  top: 18.3%;
  bottom: 72.2%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;

  color: #000000;
}
.text-2 {
  position: absolute;
  left: 10.21%;
  right: 10.14%;
  top: 31.82%;
  bottom: 53.94%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;

  color: #7e7b7b;
}
.colorkey {
  position: absolute;
  left: 10.21%;
  right: 20.21%;
  top: 56.89%;
  bottom: 10.32%;
}
.text-3 {
  position: absolute;
  left: 15.74%;
  right: 13.4%;
  top: 78.83%;
  bottom: 16.87%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;
  text-decoration-line: underline;

  color: #ffffff;
}
.thebox1 {
  position: absolute;
  left: 0%;
  right: 66.67%;
  top: 86.87%;
  bottom: 0%;

  background: #5abaf0;
  border: 10px solid #7b8698;
  border-radius: 20px;
}
.thebox2 {
  position: absolute;
  left: 33.33%;
  right: 33.33%;
  top: 86.87%;
  bottom: 0%;

  background: #ffffff;
  border: 10px solid #7b8698;
  border-radius: 20px;
}
.thebox3 {
  position: absolute;
  left: 66.67%;
  right: 0%;
  top: 86.87%;
  bottom: 0%;

  background: #ffffff;
  border: 10px solid #7b8698;
  border-radius: 20px;
}

.text-4 {
  position: absolute;
  left: -0.21%;
  right: 1%;
  top: 76.29%;
  bottom: 0.72%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16.3404px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.122553px;

  color: #000000;
}
.rectangle-62 {
  position: absolute;
  left: 8.3%;
  right: 8.3%;
  top: 10.89%;
  bottom: 75%;

  background: #ffffff;
  border-radius: 20px;
}
.rectangle-72 {
  position: absolute;
  left: 8.09%;
  right: 8.51%;
  top: 28.83%;
  bottom: 57.06%;

  background: #ffffff;
  border-radius: 20px;
}
.rectangle-82 {
  position: absolute;
  left: 8.3%;
  right: 8.3%;
  top: 47.37%;
  bottom: 38.52%;

  background: #ffffff;
  border-radius: 20px;
}
.rectangle-92 {
  position: absolute;
  left: 8.09%;
  right: 8.51%;
  top: 65.91%;
  bottom: 19.98%;

  background: #ffffff;
  border-radius: 20px;
}
.insidetext1 {
  position: absolute;
  left: 13.62%;
  right: 12.98%;
  top: 20.95%;
  bottom: 25.55%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;

  color: #000000;
}

.logos {
  position: absolute;
  left: 45%;
  top: 20%;
  bottom: 20%;
}

.insidetext2 {
  position: absolute;
  left: 16.6%;
  right: 12.55%;
  top: 82.49%;
  bottom: 23.21%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26.4268px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.198201px;
  text-decoration-line: underline;

  color: #000000;
}
.insidetext3 {
  position: absolute;
  left: 17.02%;
  right: 10.43%;
  top: 13.28%;
  bottom: 80.62%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.198201px;
  text-decoration-line: underline;

  color: #000000;
}
.insidetext4 {
  position: absolute;
  left: 16.6%;
  right: 10.85%;
  top: 25.12%;
  bottom: 68.78%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.198201px;

  color: #000000;
}
