:root { 
  --black: #000000;
  --blue-jeans: #6daaf2;
  --blue-jeans-2: #6eaaf2;
  --chicago: #545a5b;
  --daintree: #062228;
  --shuttle-gray: #5c697f;
  --white: #ffffff;
  --zumthor: #eff6ff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 26px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-shuttle-gray-14px {
  color: var(--shuttle-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-daintree-24px {
  color: var(--daintree);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-daintree-16px {
  color: var(--daintree);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-black-14px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-daintree-26px {
  color: var(--daintree);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-daintree-14px {
  color: var(--daintree);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-blue-jeans-14px {
  color: var(--blue-jeans);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
